backend:
    name: git-gateway
    branch: master
    commit_messages:
        create: 'Create {{collection}} “{{slug}}”'
        update: 'Update {{collection}} “{{slug}}”'
        delete: 'Delete {{collection}} “{{slug}}”'
        uploadMedia: '[skip ci] Upload “{{path}}”'
        deleteMedia: '[skip ci] Delete “{{path}}”'

media_folder: static/img
public_folder: /img

collections:
    - name: pages
      label: Pages
      files:
          - file: src/pages/home/index.md
            label: Home
            name: home
            fields:
                [
                    { label: 'Template Key', name: 'templateKey', widget: 'hidden', default: 'home-page' },
                    { label: 'Page Name', name: pageName, widget: string },
                    { label: Heading, name: heading, widget: string },
                    { label: Description, name: description, widget: text },
                    { label: 'Background Home', name: backgroundHome, widget: image },
                ]
          - file: src/pages/footer/index.md
            label: Footer
            name: footer
            fields:
                [
                    { label: 'Template Key', name: 'templateKey', widget: 'hidden', default: 'footer' },
                    { label: 'Page Name', name: pageName, widget: string },
                    { label: Description, name: description, widget: text },
                    { label: 'Social Media Heading', name: socialMediaHeading, widget: string },
                    { label: 'Instagram Link', name: instagramLink, widget: string },
                    { label: 'Facebook Link', name: facebookLink, widget: string },
                    { label: 'Twitter Link', name: twitterLink, widget: string },
                    { label: 'LinkedIn Link', name: linkedinLink, widget: string },
                    { label: 'Contact Heading', name: contactHeading, widget: string },
                    { label: Email, name: email, widget: string },
                    { label: Telephones, name: telephones, widget: list, fields: [{ label: Number, name: number }] },
                ]
          - file: src/pages/about/index.md
            label: About
            name: about
            fields:
                [
                    { label: 'Template Key', name: 'templateKey', widget: 'hidden', default: 'about-page' },
                    { label: 'Page Name', name: pageName, widget: string },
                    { label: Heading, name: heading, widget: string },
                    { label: Subheading, name: subheading, widget: string },
                    { label: Description, name: description, widget: text },
                    { label: 'Background About', name: backgroundAbout, widget: image },
                ]
          - file: src/pages/products/index.md
            label: Products
            name: products
            fields:
                [
                    { label: 'Template Key', name: 'templateKey', widget: 'hidden', default: 'products-page' },
                    { label: 'Page Name', name: pageName, widget: string },
                    { label: Heading, name: heading, widget: string },
                    { label: Subheading, name: subheading, widget: string },
                    { label: Description, name: description, widget: text },
                    { label: 'Background Products', name: backgroundProducts, widget: image },
                    {
                        label: Products,
                        name: products,
                        widget: list,
                        fields:
                            [
                                { label: title, name: title, widget: string },
                                { label: Description, name: description, widget: text },
                                { label: Image, name: image, widget: image },
                            ],
                    },
                ]
          - file: src/pages/services/index.md
            label: Services
            name: services
            fields:
                [
                    { label: 'Template Key', name: 'templateKey', widget: 'hidden', default: 'services-page' },
                    { label: 'Page Name', name: pageName, widget: string },
                    { label: Heading, name: heading, widget: string },
                    { label: Subheading, name: subheading, widget: string },
                    { label: Description, name: description, widget: text },
                    {
                        label: BulletPoints,
                        name: bulletPoints,
                        widget: list,
                        fields: [{ label: text, name: text, widget: string }],
                    },
                ]
